// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

blockquote {
  margin: 0;
}

#question > p {
  padding: 15px;
  width: 25%;
  background: #eee;
  border-radius: 5px;
  border-left: 4px solid gray;
}

#coach > p {
  padding: 15px;
  width: 25%;
  background: #fffee1;
  border-radius: 5px;
  border-left: 4px solid gray;
}
ul {
  list-style: none;
}
ul > li > a {
  color: blue;
  font-size: 20px;
  text-decoration: none;
}
ul > li > a:hover {
  text-decoration: underline;
}
